<!--<!DOCTYPE html>-->
<!--<html lang="cmn">-->
    <!--<head>-->
    <!--</head>-->
    <!--<body>-->
        <!--<div class="container">-->
            <!--<main role="main" class="container">-->
                <!--<div id="body" class="row">-->
                    <!--<div class="col-md-9">-->
                    </div>
                    <div class="col-md-3">
                        <div class="card mt-2">
                            <img src="/static/mp.jpg" class="card-img-top" alt="微信公众号">
                            <div class="card-body">
                                <h5 class="card-title">微信公众号</h5>
                            </div>
                            <img src="/static/wechat.png" class="card-img-top" alt="微信交流群">
                            <div class="card-body">
                                <h5 class="card-title">微信交流群(备注加群)</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="https://t.me/jiajunhuangcom" class="card-link">
                                        <img src="/static/telegram.png" >
                                        Telegram 订阅
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/rss" class="card-link">
                                        <img src="/static/rss.png" >
                                        RSS 订阅
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://tiku.jiajunhuang.com">
                                        <img src="/static/pass.png">
                                        面试题库
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://tools.jiajunhuang.com">
                                        <img src="/static/kindle.png">
                                        Kindle笔记导出
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/tutorial/golang/index.md">
                                        <img src="/static/golang.png">
                                        Golang 简明教程
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/tutorial/python/index.md">
                                        <img src="/static/python.png">
                                        Python 教程
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="footer mt-2 mb-2">
                <span class="text-muted">
                    <p><a href="https://github.com/jiajunhuang">@jiajunhuang</a> 2015-2019, All Rights Reserved。你可以转载本站的文章，但是要注明文章作者和原文链接。感谢Cloudflare提供免费CDN。</a></p>
                </span>
            </footer>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
