<!--<!DOCTYPE html>-->
<!--<html lang="cmn">-->
    <!--<head>-->
    <!--</head>-->
    <!--<body>-->
        <!--<div class="container">-->
            <!--<main role="main" class="container">-->
                <!--<div id="body" class="row">-->
                    <!--<div class="col-md-9">-->
                    </div>
                    {{ if not .isBlogApp }}
                    <div class="col-md-3">
                        <div class="card mt-2">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="https://eepurl.com/guVPMj" class="card-link">
                                        <img src="/static/email.png" >
                                        邮件 订阅
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://t.me/jiajunhuangcom" class="card-link">
                                        <img src="/static/telegram.png" >
                                        Telegram 订阅
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/rss" class="card-link">
                                        <img src="/static/rss.png" >
                                        RSS 订阅
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/tutorial/data_structure/index.md">
                                        <img src="/static/computer.png">
                                        数据结构的实际使用
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/tutorial/golang/index.md">
                                        <img src="/static/golang.png">
                                        Golang 简明教程
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/tutorial/python/index.md">
                                        <img src="/static/python.png">
                                        Python 教程
                                    </a>
                                </li>
                            </ul>
                            <img id="wechat_qrcode" src="/static/wechat.png" class="card-img-top" alt="微信交流群">
                            <div class="card-body">
                                <h5 class="card-title">微信交流群(备注加群)</h5>
                            </div>
                            <img src="/static/mp.jpg" class="card-img-top" alt="微信公众号">
                            <div class="card-body">
                                <h5 class="card-title">微信公众号</h5>
                            </div>
                        </div>
                        {{ if .topArticles }}
                        <div class="card mt-2">
                            <div class="card-header">
                                本站热门
                            </div>
                            <ul class="list-group list-group-flush">
                                {{ range $topArticle := .topArticles }}
                                    <li class="list-group-item"><a href="{{ .URLPath }}">{{ .Title }}</a></li>
                                {{ end }}
                            </ul>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </main>

            <footer class="footer mt-2 mb-2">
                <span class="text-muted">
                    <p><a href="https://github.com/jiajunhuang">@jiajunhuang</a> 2015-2020, All Rights Reserved。本站禁止转载，引用请注明作者与原链。</a></p>
                </span>
            </footer>
        </div>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha256-fzFFyH01cBVPYzl16KT40wqjhgPtq6FFUB6ckN2+GGw=" crossorigin="anonymous"></script>
    </body>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-79619009-1"></script>
        <script>
		document.addEventListener("DOMContentLoaded", function(event) {
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-79619009-1');
		});
        </script>
        {{ if not .isBlogApp }}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
		document.addEventListener("DOMContentLoaded", function(event) {
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-6941340661228088",
                enable_page_level_ads: true
            });
		});
        </script>
        {{ end }}
</html>
