{% extends "base.html" %}

{% block include_meta %}
<meta name="keywords" content="后端,Golang,Go,Python,Py,高并发,编程,源码,入门,教程,简明教程,自动化,测试,笔记,源码分析,源码阅读,k8s,Kubernetes,Docker,容器,Nginx,OpenRsty,Linux,C,容器">
<meta name="description" content="Jiajun的编程随想，主要记录和分享高并发后端编程、源码阅读以、入门教程(Golang, Python, Linux, Kubernetes, Docker, 自动化测试等)以及后端涉及的技术例如Linux/Nginx/OpenResty/Docker/Kubernetes等等">
{% endblock %}

{% block content %}
<ul class="list-group ml-2">
    {% for title, date, filename, path in articles %}
    <li>{{ date.strftime("%Y/%m/%d") }} - <a href="/{{ path }}/{{filename}}.html">{{ title }}</a></li>
    {% endfor %}

    {% if total_count %}
    <li class="list-unstyled">
        <a href="/archive">>>> 查看全部(共{{ total_count }}篇文章)</a>
    </li>
    {% endif %}
</ul>
{% endblock %}
