{{ .rssHeader }}
<rss version="2.0">
    <channel>
        <title>Jiajun的技术笔记</title>
        <link>https://jiajunhuang.com</link>
        <description>Jiajun的技术笔记</description>

        {{ range $article := .articles }}
            <item>
                <title>{{ .Title }}</title>
                <link>https://jiajunhuang.com/{{ .DirName }}/{{ .Filename }}.html</link>
                <description>《{{ .Title }}》{{ .Description }}</description>
                <pubDate>{{ .PubDate.Format "Mon, 02 Jan 2006 15:04:05 GMT" }}</pubDate>
            </item>
        {{ end }}

    </channel>
</rss>
