<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>Jiajun的编程随想</title>
        <link>https://jiajunhuang.com</link>
        <description>Jiajun的编程随想</description>

        {{ range $article := .articles }}
            <item>
                <title>{{ .Title }}</title>
                <link>https://jiajunhuang.com/{{ .DirName }}/{{ .Filename }}.html</link>
                <description>{{ .Title }}</description>
            </item>
        {{ end }}

    </channel>
</rss>
