{{ .rssHeader }}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <!-- 首页 -->
    <url>
        <loc>https://jiajunhuang.com/</loc>
        <changefreq>daily</changefreq>
        <priority>1.0</priority>
    </url>

    <!-- 归档页 -->
    <url>
        <loc>https://jiajunhuang.com/archive</loc>
        <changefreq>weekly</changefreq>
        <priority>0.8</priority>
    </url>

    <!-- 文章页 -->
    {{ range $article := .articles }}
        <url>
            <loc>https://jiajunhuang.com/{{ .DirName }}/{{ .Filename }}.html</loc>
            <lastmod>{{ .Date }}</lastmod>
            <changefreq>monthly</changefreq>
            <priority>0.7</priority>
        </url>
    {{ end }}
</urlset>
